.about {
  color: #ccd6f6;
}

.totalAbout {
  margin: 100px 0;
  padding: 1px;
}

.about::before {
  content: "02.  ";
  color: orange;
  font-size: 1.8rem;
  font-weight: 800;
}

.about::after {
  content: "";
  display: block;
  background-color: orange;
  position: relative;
  margin-left: 150px;
  margin-top: -20px;
  margin-right: 10%;
  /* margin-left: 25px; */
  width: 200px;
  height: 1px;
}

@media only screen and (max-width: 678px) {
  .mainSection {
    padding: 1px;
  }
  .about::after {
    margin: 0;
  }
}
